footer
  .container.text-center
    p.float-left © 2020 MakeUC. All Rights Reserved
    ul.float-right.list-inline
      li.list-inline-item
        a(href='https://github.com/kovacaid/makeuc-project') GitHub Project
      li.list-inline-item
        a(href='https://github.com/kovaciad/makeuc-project/issues') Issues
